<p id="notice"><%= notice %></p>

<p>
  <strong>Document:</strong>
  <%= @mechanic.document %>
</p>

<p>
  <strong>Name:</strong>
  <%= @mechanic.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @mechanic.lastname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @mechanic.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @mechanic.phone %>
</p>

<%= link_to 'Edit', edit_mechanic_path(@mechanic) %> |
<%= link_to 'Back', mechanics_path %>
