<%= form_for(@invoice_detail) do |f| %>
  <% if @invoice_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice_detail.errors.count, "error") %> prohibited this invoice_detail from being saved:</h2>

      <ul>
      <% @invoice_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type_of_work_id %><br>
    <%= f.number_field :type_of_work_id %>
  </div>
  <div class="field">
    <%= f.label :invoice_master_id %><br>
    <%= f.number_field :invoice_master_id %>
  </div>
  <div class="field">
    <%= f.label :order_master_id %><br>
    <%= f.number_field :order_master_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
