<fieldset><legend>Listing Vehicles</legend>
  
   <div class="pull-right">  
      <%= form_tag(vehicles_path, :method => "get",class:"form-search", id: "search-form") do  %>
      <div class="input-append">  
         <%= text_field_tag :search, params[:search],class:"span7 search-query", placeholder: "Search Vehicles" %>
         <button type="submit" class="btn  btn-success ">Search</button>
     </div>
     <% end %>
  </div>
<table class="table table-striped table table-hover">
  <thead>
    <tr>
      <th style="text-align: center">Client</th>
      <th style="text-align: center">Model</th>
      <th style="text-align: center">Brand</th>
      <th style="text-align: center">Licenceplate</th>
      <th style="text-align: center">Year</th>
      <th style="text-align: center"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td style="text-align: center"><%= vehicle.client.name %></td>
        <td style="text-align: center"><%= vehicle.model.model %></td>
        <td style="text-align: center"><%= vehicle.brand.brand %></td>
        <td style="text-align: center"><%= vehicle.licencePlate %></td>
        <td style="text-align: center"><%= vehicle.year %></td>
        <td style="text-align: center"><%= link_to image_tag("/assets/pencil.ico",height: '20', width: '20'),  edit_vehicle_path(vehicle) %>
         <%= link_to image_tag("/assets/delete.ico",height: '20', width: '20'),  { :action => :destroy, :id => vehicle.id }, :method => :delete,:data => { :confirm => 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</fieldset>
<br>
